

ul{
	margin:0;
	padding:0;
}

	li{
		list-style:none;
		margin:0;
		padding:0;
		margin-bottom:10px;
		border:1px solid transparent;
		color:#333;
		position: relative;
	}
	li.get{
		border-color:#C3D9EC;
	}
	li.post{
		border-color:#C3E8D1;
	}
	li.put{
		border-color:#f0e0ca;
	}
	li.delete{
		border-color:#e8c6c7;
	}
	li.login{
		border-color:#FFC9FF;
	}


		li header{
			background-color:#E7F6EC;
			padding:0;
			margin:0;
		}
			li header span{
				display:inline-block;
				padding:4px 5px;
				margin:0;
				vertical-align:center;
			}
			/** METHOD */
			li header span.method{
				vertical-align:top;
				color:white;
				text-transform:uppercase;
				padding:7px 10px;
				border-radius:3px;
				font-size:0.7em;
				min-width:60px;
				text-align:center;
				background-color:purple;
			}
			li.get header span.method{
				background-color:#0F6AB4;
			}
			li.post header span.method{
				background-color:#10A54A;
			}
			li.put header span.method{
				background-color:#c5862b;
			}
			li.delete header span.method{
				background-color:red;
			}
		
			/** Path */
			li header span.path{
				font-weight:bold;
			}
	
			li header span.name:hover,
			li header span.path:hover{
				text-decoration:underline;
			}
		
			/** Name */
			li header span.name{
				float:right;
				text-align:right;
			}


		li article{
			border:0;
			border-top-color:transparent;
			background-color:#E7F6EC;
			padding:0 20px;
			height:0;
			-webkit-transition:height 0.3s,padding 0.3s;
			transition:height 0.3s,padding 0.3s;
			overflow:hidden;
			display:block;
		}
		li header.show + article{
			height:auto;
			overflow:visible;
			padding:20px 20px;
			border-top:inherit;
		}
			li article div,li article p{
				width:100%;
				display:block;
				clear:right;
			}
				li article h4{
					margin:10px 0;
					font-size:1.1em;
				}
				li.get article h4{
					color:#0F6AB4;
				}
				li.post article h4{
					color:#10A54A;
				}
				li.put article h4{
					color:#c5862b;
				}
				li.delete article h4{
					color:#a41e22;
				}
			li article table{
				border:none;
				width:100%;
				margin-bottom:20px;
			}
				li article td,
				li article th{
					border:none;
					text-align:left;
					padding:5px;
					border-bottom:1px solid #ccc;
				}
				li article thead{
				}
					li article thead th{
						color:#666;
						font-size:0.7em;
						border:0;
						border-bottom:1px solid #999;
					}
				li article tbody{
				}
					li article tbody th{
						width:200px;
						color:black;
					}
				li article tfoot td{
					border-bottom-width:0;
					vertical-align:top;
				}
	
				li article table a{
					font-size:0.8em;
				}
			li article button{
				font-size:0.8em;
			}

		li article pre{
			font-family:"Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono";
			font-size:0.7em;
			background-color: #FCF6DB;
			border: 1px solid #E5E0C6;
			padding: 10px;
			color:black;
		}

	/**
	 * Error
	 */
	li.error header, li.error header + article pre{
		background-color:red;
		color:white !important;
	}
	li.error:before{
		content: "\000D7";
		color:red;
	}
	li.passed:before{
		content: "\02713";
	}
	li:before{
		position: absolute;
		display: inline-block;
		right:-25px;
		top:-10px;
		z-index:1000;
		color:lime;
		font-size:2em;
		text-shadow:1px 1px 3px black;
	}
		li.error article pre{
			color:red;
		}
	