.alert {
	display: block;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
}
.alert-warning{
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}
.alert.alert-warning:before {
	content: "Warning: ";
	font-weight: bold;
}
