* {
	box-sizing:border-box;
}

html{
    background-color: #4E5160;
}
	body{
	    font-family: arial;
	    margin: 0 auto;
	    padding: 35px 50px 15px 50px;
	    max-width: 1156px;
	    background-color: #FFFFFF;
	    color: #4E5260;
	    font-size: 1em;
	    position:relative;
	}
		header{
		}
			header p{
				font-size:1.4em;
			}
		
		h1{
			font-size:8em;
			letter-spacing:-5px;
			margin:0;
			line-height:1em;
		}
		h2{
			margin-top:50px;
			font-size:3em;
		}
		h2 + p{
			font-size:1.5em;
			margin-top:-30px;
		}

		h3{
			font-size:2em;
		}


		button{
			padding:5px;
			font-size:1.2em;
		}






@media all and (max-width: 1000px) {
	body{
		padding:10px;
	}
}



blockquote{
	background-color: #F5F7F5;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 0 35px 0;	
}

q{
	color:green;
}
i{
	color:blue;
}


@media all and (max-width: 650px), screen and (max-device-width: 480px) {
	*{
		max-width:100%;
	}
	body {
		margin:0;
		padding:4px;
	}
	header{
		font-size:70%;
	}


	pre{
		overflow-x:auto;
		font-size: 90%;
	}

}



a.restexplorer{
	text-decoration:underline;
	color:blue;
	font-family:monospace;
}

.hide{
	display:none;
}


/**
 * Pre
 */

pre{
	color:green;
	background-color:#f4f4f4;
	border:1px solid #e4e4e4;
	border-left-width:10px;
	white-space:pre-wrap;
	padding: 15px;
	margin: 0 0 35px 0;	
}
pre:empty:before{
	content: "Loading...";
}

pre[contenteditable]:focus{
	color:black;
	background-color:white;
}
pre + button{
	margin-top:-60px;
	position:absolute;
	background:rgb(78,81,96);
	border:none;
	color:white;
}
pre + button:active{
	background:rgb(98,101,116);
}
pre.tryit, pre.tryitoffline{
	margin-bottom:50px;
}

/**
 * REST EXPOLORER
 */
input[name=path]{
	display:block;
	width:100%;
	padding:5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size:20px;
	margin:0;
	border:1px solid #e4e4e4;
	border-top-width:10px;
}
article{
	display:-moz-box; /* Firefox */
	display:-webkit-box; /* Safari and Chrome */
	display:box;
	border:1px solid #e4e4e4;
}
	article > nav ul, 
	article > nav ul li{
		margin:0;
		padding:10px;
		list-style:none;
	}
	article > pre{
		-moz-box-flex:1.0; /* Firefox */
		-webkit-box-flex:1.0; /* Safari and Chrome */
		box-flex:1.0;
		margin:0;
	}



/**
 * Table, compatibility
 */
table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	background-color:inherit;
}
	tr.break th{
		background-color:#f8f8f8;
	}
	tr.break th:first-child{
		border-top:0;
		border-bottom:0;
		border-right:0;
		vertical-align:middle;
	}
	tr.break th:last-child{
		border-left:0;
	}

	td,th{
		border:1px solid #D2D2D2;
		padding:4px 10px 4px 6px;
		vertical-align: top;
	}
		table td pre{
			margin:0;
			padding:0;
			background-color:transparent;
			border:none;
		}
	td.yes,span.yes{
		background-color:#00882D;
	}
	td.no,span.no{
		background-color:#CB000F;
	}
	td.partial,span.partial{
		background-color:#20A84D;
	}
	td.no, td.yes,td.partial,
	span.no, span.yes,span.partial{
		color:white;
		text-align:center;
	}



/* TOC */
	nav.toc{
		position:fixed;
		top:0;
		color:white;
		margin-left:-260px;
		width:200px;
		text-align:right;
		font-weight:bold;
		z-index:-1;
		font-size:100%;

	}
	nav.toc ul{
		margin:0;
		padding:0;
	}
	nav.toc li{
		font-size:100%;
		list-style:none;
		padding:4px 0;
		position:relative;
	}
	nav.toc li.active:after{
		content:" ";
		position:absolute;
		display:inline-block;
		right:-10px;
		top:0;
		border:10px solid transparent;
		border-left-width:0;
		border-right-color:white;
		border-right-width:5px;
	}

	nav.toc li li a{
		font-size:90%;
	}
	nav.toc li li li a{
		font-size:80%;
		font-weight:normal;
		color:rgba(255,255,255,0.8);
	}
	nav.toc a{
		color:inherit;
		text-decoration: none;
		display: block;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	nav.toc a:hover{
		color:white;
		color:rgba(255,255,255,0.9);
	}
@media all and (max-width: 1400px) {
	nav.toc{
		position:static;
		margin-left:0;
		color:inherit;
		text-align:left;
	}
	nav.toc li a,
	nav.toc li a:hover,
	nav.toc li li a,
	nav.toc li li a:hover,
	nav.toc li li li a,
	nav.toc li li li a:hover{
		color:inherit;
	}
}