<!DOCTYPE HTML>
<link rel="manifest" href="{{site.baseurl}}/assets/manifest.json"/> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<!-- adorn -->
<link rel="stylesheet" href="/adorn/adorn.css" />
<script src="/adorn/adorn.js" async></script>

<!-- Site specific -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css-social-buttons/css/zocial.css"/>
<link rel="stylesheet" href="{{site.baseurl}}/assets/index.css"/>

<link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon.ico" type="image/x-icon" />
{{ content }}
